.titulo{
    text-align: justify;
}

.formulario{
    background-color: var(--blanco);
    margin: -5rem -5rem -5rem -5rem;
    padding: 5rem;
    width: 95%;

}

.legend__formulario{
    text-align;
}

.campo__label{
    text-transform: inh;
    font-weight: bold;
}